name: push_nuget

# on push on master
on:
  push:
    branches:
      - master
    paths-ignore:
      - README.md

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Git Checkout
      uses: actions/checkout@master

    - name: Download Icon
      uses: carlosperate/download-file-action@v1.0.3
      with:
        file-url: 'https://raw.githubusercontent.com/vvvv/PublicContent/master/nugeticon.png'
        location: './deployment' 

    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1
      
    - name: Nuget Pack
      run: nuget pack ./deployment/VL.IO.HTTP.WebServer.nuspec -Version ${{env.VERSION}}
      env:
        VERSION: 0.1.${{github.run_number}}-alpha
      
    - name: Nuget Push
      run: nuget push *.nupkg ${{secrets.NUGET_KEY}} -src https://api.nuget.org/v3/index.json -NoSymbols
